<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.djtech.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:logo="@null"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.djtech.android.DJTechHomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name="com.djtech.android.TeamMembersActivity"
            android:label="Team Members"
            android:screenOrientation="portrait"
            android:parentActivityName="com.djtech.android.DJTechHomeActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.djtech.android.DJTechHomeActivity" />
        </activity>
        <activity
            android:name="com.djtech.android.BlogPostDetailActivity"
            android:label="@string/title_activity_blog_post_detail"
            android:parentActivityName="com.djtech.android.DJTechHomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.djtech.android.DJTechHomeActivity" />
        </activity>
        <activity
            android:name="com.djtech.android.ContactUsActivity"
            android:label="Contact Us"
            android:screenOrientation="portrait"
            android:parentActivityName="com.djtech.android.DJTechHomeActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.djtech.android.DJTechHomeActivity" />
        </activity>
        <activity
            android:name="com.djtech.android.OptionsActivity"
            android:label="Options"
            android:screenOrientation="portrait"
            android:parentActivityName="com.djtech.android.DJTechHomeActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.djtech.android.DJTechHomeActivity" />
        </activity>
        <activity
            android:name="com.djtech.android.SolidColorActivity"
            android:label="Select Background Color"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.djtech.android.FAQsActivity"
            android:label="Frequently Asked Questions"
            android:screenOrientation="portrait"
            android:parentActivityName="com.djtech.android.OptionsActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.djtech.android.OptionsActivity" />
        </activity>
        <activity
            android:name="com.djtech.android.InformationListActivity"
            android:label="Information"
            android:screenOrientation="portrait"
            android:parentActivityName="com.djtech.android.OptionsActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.djtech.android.OptionsActivity" />
        </activity>
        <activity
            android:name="com.djtech.android.AppInfoActivity"
            android:label="App Info"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.djtech.android.AboutActivity"
            android:label="About Us"
            android:screenOrientation="portrait"
            android:parentActivityName="com.djtech.android.DJTechHomeActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.djtech.android.DJTechHomeActivity" />

        </activity>
        <activity
            android:name="com.djtech.android.SplashScreen"
            android:theme="@style/MyTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>